{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
    
</style>
<h1>Welcome</h1>
  <div style="display:flex; justify-content: center">
    <div style="position:relative">
      <div style="justify-content: space-between;">

        <button><a href="{{path('app_student_index')}}" >Estudiantes</a></button>
        <button><a href="{{path('app_asignature_index')}}" >Asignaturas</a></button>
        <button><a href="{{path('app_teacher_index')}}" >Profesores</a></button>
        <button><a href="{{path('app_career_index')}}" >Carreras</a></button>
      </div>
    </div>
  </div>
{% endblock %}
