{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
    
</style>

<div class="">

  <h1>Welcome</h1>
  

  <button><a href="{{path('app_student_index')}}" >Estudiantes</a></button>
  <button><a href="{{path('app_asignature_index')}}" >Asignaturas</a></button>

</div>
{% endblock %}
