{% extends 'base.html.twig' %}

{% block title %}Edit Asignature{% endblock %}

{% block body %}
    <h1>Edit Asignature</h1>

    {{ include('asignature/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_asignature_index') }}">back to list</a>

    {{ include('asignature/_delete_form.html.twig') }}
{% endblock %}
