{% extends 'base.html.twig' %}

{% block title %}New Asignature{% endblock %}

{% block body %}
    <h1>Create new Asignature</h1>

    {{ include('asignature/_form.html.twig') }}

    <a href="{{ path('app_asignature_index') }}">back to list</a>
{% endblock %}
